@keyframes no_home_filter_bg_anim_override_in {
    from {
        transform: translateX(-32px);
        transform: scale(1.03);
        opacity: 0
    }

    to {
        transform: translateX(0px);
        transform: scale(1);
        opacity: var(--filter-opacity);
    }
}

@keyframes no_home_filter_bg_anim_override_out_right {
    from {
        transform: translateX(0px) scale(1);
        opacity: var(--filter-opacity);
    }

    to {
        transform: translateX(-32px) scale(1.08);
        opacity: 0;
    }
}

@keyframes no_home_filter_bg_anim_override_out_left {
    from {
        transform: translateX(0px) scale(1);
        opacity: var(--filter-opacity)
    }

    to {
        transform: translateX(32px) scale(1.08);
        opacity: 0
    }
}

.root {
    --filter-opacity: 1;
    --animation-duration: .5s;
}

/* RecentGamesBackground */
[class*="0ofs3"] {
    opacity: 1 !important;
    filter: none !important;
}

/* RecentGamesBackgroundImage */
[class*="X8IHE"]/* MoveLeft */
[class*="iahOz"]:not(/* OffScreen */
[class*="lu06r"]),
/* RecentGamesBackgroundImage */
[class*="X8IHE"]/* MoveRight */
[class*="UO3kf"]:not(/* OffScreen */
[class*="lu06r"]) {
    opacity: var(--filter-opacity);
    animation-name: no_home_filter_bg_anim_override_in;
}

/* RecentGamesBackgroundImage */
[class*="X8IHE"] {
    animation-duration: var(--animation-duration);
    opacity: var(--filter-opacity);
    transition-duration: var(--animation-duration);
}

._3Mp8R2wnoCl6ko0HAX8IHE.Yk-I2az42lZgbInNlu06r._3dydsnWmvqlpzBU8cUO3kf {
    animation-name: no_home_filter_bg_anim_override_out_right;
}

._3Mp8R2wnoCl6ko0HAX8IHE.Yk-I2az42lZgbInNlu06r._30M_n3XIKv5anMLmKiahOz {
    animation-name: no_home_filter_bg_anim_override_out_left;
}